<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <i>Questions on an upcoming uptrip? Want to lead one yourself?</i>
  <p>Contact us <a href="http://www.facebook.com/usegust/">here</a>.</p>
</p>