<% provide(:title, 'FAQ') %>
<h1>FAQ</h1>
<p>
  <p><b>I have an idea for a trip and would love to be a GUST host. Is this possible?</b>
  	<br>Email us why you would be a great host and describe your trip: 
  	<a href="mailto:usegust@gmail.com?subject=I would make a great host because...">usegust@gmail.com</a>. You'll hear from us if we think it's a good fit!
  </p>
  <hr>
  <p><b>I paid for a trip but something came up and I can't make it anymore. Can I get a refund?</b>
  	<br>You have a 72-hour grace period from the day you booked the trip. Let us know within that time and you will be refunded! No questions asked.
  </p>
</p>